{% extends 'base.html' %}
<!-- edit.html -->
<!-- 정보를 수정하고 삭제하는 페이지 중에서 html이 필요한 페이지는 정보 수정을 위한 form 페이지 밖에 없습니다. -->
{% block content %}
  <h1>수정 페이지</h1>
  <form action="{% url 'movies:update' movie.pk %}" method="post">
    {% csrf_token %}
    <label for="title">Title : </label>
    <input type="text" name="title" id="title" value="{{ movie.title }}">
    <br>
    <label for="overview">Overview</label>
    <textarea name="overview" id="overview" cols="30" rows="10">{{ movie.overview }}</textarea>
    <br>
    <label for="poster_path">Poster_path : </label>
    <input type="text" name="poster_path" id="poster_path" value="{{ movie.poster_path }}">
    <br>
    <button>수정하기</button>
  </form>
    <a href="{% url 'movies:detail' movie.pk %}">돌아가기</a>
{% endblock content %}